Server={{ zabbix_proxy_upstream_server }}
Hostname={{ zabbix_proxy_hostname }}
PidFile=/var/run/zabbix/zabbix_proxy.pid
LogFile=/var/log/zabbix/zabbix_proxy.log
LogFileSize=0
DBName=/var/lib/zabbix/zabbix-proxy.sqlite
ConfigFrequency={{ zabbix_proxy_config_freq }}
StartPollers={{ zabbix_proxy_pollers }}
CacheSize={{ zabbix_proxy_cachesize }}
HistoryCacheSize={{ zabbix_proxy_historycachesize }}
HistoryIndexCacheSize={{ zabbix_proxy_historyindexcachesize }}
StartDiscoverers={{ zabbix_proxy_discoverers }}
StartHTTPPollers={{ zabbix_proxy_httppollers }}
StartIPMIPollers={{ zabbix_proxy_ipmipollers }}
StartPingers={{ zabbix_proxy_pingers }}
StartTrappers={{ zabbix_proxy_trappers }}
{% if zabbix_proxy_tls %}
# Settings for TLS/PSK between Proxy and server
TLSAccept=psk
TLSConnect=psk
TLSPSKIdentity={{ zabbix_proxy_tls_psk_identity }}
TLSPSKFile=/etc/zabbix/zabbix_proxy.psk
{% endif %}

